body {
    font-family: 'Fredoka One', sans-serif;
    background-color: #209EB2;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    min-height: 100vh;
    text-align: center;
}

h1 {
    font-size: 4rem;
    margin: 35px 0 100px 0;
    color: #e7dbca;
    text-shadow: 4px 4px 0px #eb452b;
}

h2 {
    font-size: 3rem;
    color: #e7dbca;
    text-shadow: 2px 2px 0px #eb452b;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    padding: 0;
}

#canvas {
    height: 320px;
    max-width: 100%;
    margin: 30px 0 20px 0;
    border-radius: 18px;
    background-color: #ffc;
}

#awards {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    background-color: #ffffff85;
    border: 2px solid #d35628cb;
}

#awards ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#awards ul li {
    margin: 5px 0;
    padding: 10px 30px;
    color: #c59688;
}

.emoji {
    display: none;
    margin: 5px 0;
    padding: 10px 30px;
}